@import '~bootstrap/scss/bootstrap';

.header {
  padding: 120px;
  text-align: right;
  background-image: url("https://media.git.generalassemb.ly/user/30427/files/b2cc5880-f9fd-11ea-865d-a773e2135475");
  color: black;
  font-size: 30px;
}
.Navigation  {
  margin: 10px;
}
.column {
  padding: 10px;
}
