@import '~bootstrap/scss/bootstrap';

.header {
  padding: 120px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}
.Navigation  {
  margin: 20px;
}
.column {
  padding: 10px;
}
.column2 {
padding: 10px;
}
