@import '~bootstrap/scss/bootstrap';
body {
  background-color: #f8f8ff;
}
.header {
  padding: 120px;
  text-align: right;
  background-image: url("https://media.git.generalassemb.ly/user/30427/files/b2cc5880-f9fd-11ea-865d-a773e2135475");
  color: black;
  font-size: 30px;
}
.Navigation  {
  margin: 10px;
}
.column {
  padding: 10px;
}
.container {
// set the board container to take up 100% of the viewport's height
//in this case thats the height of the browser
height: 20vh;
}
.dinner {
  //set the max height and min width of board
  //use method called calc to subtract some space around each side
  max-height: 20px;
  min-width: 20px;
}

.col {
  //set the minimum height for each box to be a third of the parents min-width
  //the calc metho will take 100% of the parents height and divide it
  min-height: calc(100% / 3);

  //set each box to have display be flex so we can center the content
  //(x's and o's) inside the boxes
  display: flex;

  //center teh content along the main-zis (left-to-right) bc flex-direction
  //defauts to Row
  justify-content: center;

  //center content along the cross axix (top-to-bottom bc the cross acces is
  //perpendicular to the main axis
  align-items: center;

  //use vh to have the font size change as teh viewport height changes as well
  font-size: 30px;


  //we want to have boarders on teh firght of each box and the bottom of each box
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  border-top: 3px solid black;
  //select the 3 right boxes using :nth-child - this will select elements
  //based on their position to their siblings
  &:hover {
  background-color: #ADD8E6;
  cursor: pointer;
}
}

#message {
  font-size: 20px;
  justify-content: center;
}
